.youtube-box {   
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: #1b1b24;
    padding: 10px;
    
    .youtube-message {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
}
