
.thumbnail-box {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  $field-color: rgba(255, 255, 255, 0.08);
  $field-height: 65px;
  $field-border-radius: 8px;
  position: relative;
  height: 100%;
  background: $field-color;
  border-radius: $field-border-radius;
  display: flex;
  align-items: center;
  padding: 10px 25px;
  color: #fff;
  margin-bottom: 8px;
  margin-left: 3px;
  width: 86%;

  .thumbnail {
    width: 44%;
    height: 100px;
  }

  .memo-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 56%;
    text-align: center;
  }
}
